
body{
    background-image: url(./photos/black.jpg);
    
    scroll-behavior: smooth;
}







/* navbar background d*/
.navbar{
    background-image: url(./photos/cover303.jpg);
}
 .logo{
   position: absolute;
   top: 5px;
   left: 10px;
 
}
@media screen and (min-width:350px){
   main .navbar 
    {
       /* width: 30%;
       height: 20%;
       margin: 2px; */
    
     flex-wrap: nowrap;
    }
    
}




hr{
    color: white;
    font-size: larger;
}



.navbar{
    position: sticky;
}

/* navbar */

.container{
    margin-top: 3.125rem;
    
}

/* ..................................................................................... */
/* cover */




main .card-img-overlay{
    /* padding-left: 9.375rem; */
    margin-top: 12.5rem;
    color: rgb(247, 238, 238);
    font-size: larger;
    font-style: italic;

}
/* covertext */
main .card-img-overlay .card-text2{
    
    padding-left: 4.6875rem;
}

.card h1{
    color: brown;
    animation-name: na;
    animation-duration: 7s;
    animation-iteration-count: infinite ;
    position: relative;
    

}


.card P{
font-size: xx-large;
}


@keyframes na{
    0%{color: brown; left: 200px; top: 0px; }
    25%{color: cadetblue; left: 50px; top: 0px;}
    50%{color: brown; left:  200px; top: 0px; }
    75%{color: cadetblue;left: 50px; top: 0px;}
    100%{color: brown;left: 200px; top: 0px;}

 
}

@media screen and (max-width:700px) {
    .card h1{
        animation-duration: 0s;
    }
    
}



/* .......................................................................... */
/* imgabout */





.bg-image{
    /* padding-left: 21.875rem; */
    margin-top: 5.25rem;
    padding-left: 100px;

}

/* textabout */

.text-muted{
    margin-top: 4.375rem;
    font-size: 22px;
    font-style: italic;

   
}
.bg-image{
    text-align: center;

}


/* .......................................................................... */
/* education */
/* title for all */


.tit{
    text-align: center;
    font-style: italic;
    margin-bottom: 4.375rem;
    color:brown;
    font-style: italic;
}


/* ............................................................................... */
/* experiance */



.col1 .card{
    
    width: 20.625rem;
    /* background-color:rgb(60, 58, 58); */
    color: white;
   
   
}

 .row .col1{
    
    padding-left: 70px;
    
 }
/* .................................................................................. */


/* experiance&skills */

.col1 div:hover{
    transform: scale(1.1);
    text-decoration: underline;
    /* background-color: rgb(44, 143, 168); */
    /* background-color: darkgray; */
    background-color: black;
    
  

}



.col1 .card{
    
    background-color: black;
    
}




/* footer */
.end {
    
    text-align: center;
    
    
    
  
}

a:link{
   text-decoration: none;
}

/* contact */
.stats{
    color:brown;
    font-size: 20px;
    background-image: url(https://64.media.tumblr.com/4958ec8af23fbebf9c8ce4736581d8f3/8685257c047a19e5-ff/s640x960/abe242cee391d69d4c5be38987258bbc4326a4af.gifv);

}

.stats i{
    color: white;
    font-size: 30px;
    padding: 10px;
}


/* .............................................................................................................................................. */
/* skills */


/* @media screen and (max-width:480px){
    .skillss 
     {
        display: flex;
         
     }
     
 } */

.skillss{
    /* width: 100%; */
    height: 90vh;
    display: flex;
    margin: 0 auto;
    /* align-items: center; */
    justify-content: center;

    
}

.skillss ul{
    list-style: none;
    /* max-width: 30%; */
    margin: 0 20px;
    /* padding: 70px; */
}
.skillss ul li:nth-child(1){
    color: white;
    padding: 20px;
    border-bottom: 1px solid white;


}
p{
    /* font-size: 30px; */
    font-weight: bold;
}



.skillss ul h1{
    color: brown;
    border-bottom:4px solid brown;
}


.skillss ul li:nth-child(2){
    color: grey;
    padding: 20px;
    border-bottom: 1px solid rgb(173, 157, 157);


}
.skillss ul li:nth-child(3){
    color:  grey;
    padding: 20px;
    border-bottom: 1px solid rgb(173, 157, 157);


}
.skillss ul li:nth-child(4){
    color:  grey;
    padding: 20px;
    border-bottom: 1px solid rgb(173, 157, 157);


}
.skillss ul li:nth-child(5){
    color:  grey;
    padding: 20px;
    border-bottom: 1px solid rgb(173, 157, 157);


}

/* ........................................................................................................................................... */


/* hoverbutomn */
.fa-solid{
    color: grey;
    
}
.fa-solid :hover{
    color: black;
}